* { 
    font-family: "Calibri"; 
    font-size: 1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    table-layout: fixed;
    flex-direction: row;
    overflow: scroll;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: auto;
}

th {
    justify-content: flex-start;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    background-color: cornflowerblue;
    font-weight: bolder;
    white-space: nowrap;
}

td {
    justify-content: flex-start;
    align-content: center;
    padding: 15px;
    min-width: fit-content;
    white-space: nowrap;
}
